body {
  /* display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; */
  /* border: 1px solid red; */
  background-color: #191414;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.filter-container {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}
input {
  height: 30px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 8px;
  margin-bottom: 10px;
}
.btn-playlist {
  background-color: #1db954;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 16px;
  border: none;
}
.btn {
  padding-top: 10px;
  /* border: 1px solid yellow; */
}
.btn-playlist:hover {
  background-color: #1aa84c;
}
.btn-playlist:active {
  background-color: #15853c;
}
.container {
  /* border: 1px solid green; */
  margin: 0px 150px;
  padding-bottom: 50px;
  /* padding: 50px; */
  display: flex;
  flex-direction: column;
}
.search {
  text-align: center;
  flex-direction: row;
}
.card-album {
  /* position: relative; */
  /* background-image: url(https://i.scdn.co/image/ab67616d0000b273e8b066f70c206551210d902b); */
  color: black;
  background-color: rgb(224, 224, 224);
  margin: 0 auto;
  border-radius: 10px;
  /* border: 1px solid red; */
  padding: 8px;
  min-height: 100%;
  width: 200px;
  transition: all 0.5s;
}
.card-album:hover {
  transform: scale(1.05);
  background-color: #ff99ee;
  background-image: none;
  border: none;
}
.card-album img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* position: absolute; */
  /* top: -10px; */
  width: 100%;
  height: 50%;
  /* margin: 20px auto; */
  /* position: absolute;
  top: 20%;
  left: 35%; */
}
h1 {
  font-size: 16px;
}
h2 {
  font-size: 12px;
}
#text {
  display: grid;
  column-gap: -15px;
  /* flex-wrap: wrap; */
  align-items: center;
  text-align: center;
  justify-content: center;
  /* border: 1px solid red; */
  /* height: 50%; */
  margin-left: 4px;
  margin-right: 4px;
  /* padding: 0px 4px; */
  /* margin-bottom: 10px; */
}
.list-item {
  display: flex;
  align-items: center;
  /* height: 10vh; */
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: -23px; */
}
.page-container {
  /* background-color: #5c4959; */
  margin: 80px 20px 20px 20px;
}
.login-page {
  min-height: 80vh;
  width: 20%;
  /* padding: 10px; */
  margin: 0 auto;
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.list-playlist {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* border: 1px solid red; */
  justify-content: left;
  /* align-items: center; */
  flex-direction: column;
}
.card-playlist > div {
  margin: 6px;
}
.img-playlist {
  width: 50px;
  height: 50px;
}
.playlist button {
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}
.layout {
  display: flex;
  flex-direction: column;
  margin: 50px 100px;
}
.wrapper-content {
  display: flex;
  flex-direction: row;
  /* margin: 0 100px; */
}
.layout-item {
  margin-right: 20px;
  /* border: 1px solid red; */
  flex: 1;
}
.card-playlist {
  /* border-radius: 20px; */
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
  /* border: 1px solid green; */
  display: grid;
  justify-content: center;
  align-content: space-around;
  /* gap: 4px; */
  grid-auto-flow: column;
  grid-template-columns: 5% 10% 60% 7% 15%;
  /* grid-template: auto 1fr auto / auto 1fr auto; */

  /* grid-template-rows: 50% 20%; */
  /* grid-row: 1 / 4; */
  /* display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: left; */
}
.title-album {
  /* height: fit-content; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* box-sizing: border-box; */
  /* padding: 4px 0; */
  /* margin-bottom: 10px; */
  /* background-color: #3f313d; */
  justify-content: center;
  /* align-content: center;
  justify-items: center;
  align-items: center; */
}
.title-album p {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid blue; */
  /* gap: -1px; */
  /* margin-top: -10px; */
}
.list-release {
  /* border: 1px solid green; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.card-release {
  /* border: 1px solid red; */
  height: 280px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(31, 31, 31);
  display: grid;
  transition: all 0.5s;
}
.card-release:hover {
  background-color: #3e3e3e;
}
.card-release img {
  width: 200px;
  border-radius: 8px;
}
.text-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.text-card div {
  margin: -15px 0;
}
.artist-name {
  color: #c3c3c3;
  /* border: 1px solid yellow; */
}
.item-name {
  font-weight: bold;
  /* border: 1px solid blue; */
}
.bg-white {
  background-color: white;
}
.form {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-loadMore {
  /* border: 2px solid gray; */
  /* display: flex;
  flex-direction: column; */
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}
.heading1 {
  text-align: center;
  font-size: 36px;
}
.heading2 {
  text-align: center;
  font-size: 24px;
}
.heading3 {
  font-size: 18px;
}
.form-playlist {
  display: flex;
  flex-direction: column;
}
nav ul {
  list-style: none;
  display: flex;
}
nav {
  margin-right: 20px;
  flex: 1;
}
#navbar img {
  padding-top: 5px;
}
#navbar {
  padding: 3px;
  background: rgb(45, 45, 45);
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
}
@media (max-width: 768px) {
  .nav-wrapper {
    width: 90%;
  }
}
@media (max-width: 638px) {
  .nav-wrapper {
    width: 100%;
  }
}

.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .logo {
    margin-left: 5px;
  }
}

#navbar ul {
  display: block;
  float: right;
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}
@media (max-width: 640px) {
  #navbar ul {
    display: none;
  }
}
@media (orientation: landscape) {
  #navbar ul {
    display: inline-block;
  }
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: #1db954;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before,
#navbar li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: #1db954;
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: #1db954;
  right: 0;
  /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

#navbar li a:hover:before {
  background: #1db954;
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}

/*======================================================
                    Mobile Menu Menu Icon
  ======================================================*/
